.content.summoners(ng-controller="SummonerController")
  .notes
    %p
      This will look at the summoner's 3 most recent
      %b ranked
      games.
    %p There is no notification of errors on the server side...yet.

  #summonerEntry
    .section.left
      %h2 Summoner A

      %form#findSummonerA(name="findSummonerA" ng-submit="a.submit()")
        .field
          %input(ng-model="a.summoner_name" ng-required="true" type="text" placeholder="summoner name")
        .field
          %select(ng-model="a.region" ng-options="o.name for o in active_regions" ng-required="true")

    .section.right
      %h2 Summoner B

      %form#findSummonerB(name="findSummonerB" ng-submit="b.submit()")
        .field
          %input(ng-model="b.summoner_name" ng-required="true" type="text" placeholder="summoner name")
        .field
          %select(ng-model="b.region" ng-options="o.name for o in active_regions" ng-required="true")

  .section.a.left
    .match(ng-repeat="match in result_a.base")
      .streak(data-match-id="{{ match.match.matchId }}")

  .section.b.right
    .match(ng-repeat="match in result_b.base")
      .streak(data-match-id="{{ match.match.matchId }}")
