% The next option is required so we can use lager.
{erl_opts, [
    debug_info,
    warnings_as_errors,
    {parse_transform, lager_transform}
    ]}.

{lager, [
    {handlers, [
        {lager_console_backend, debug},
        {lager_file_backend, [{file, "console.log"}, {level, debug}]},
        {lager_file_backend, [{file, "error.log"}, {level, error}]}
        ]}
    ]}.

{lib_dirs,["deps"]}.

{deps, [
		{sync, ".*", {git, "git://github.com/rustyio/sync.git"} },
		{lager, ".*", {git, "git://github.com/basho/lager.git"} },
		{jsx, ".*", {git, "git@github.com:talentdeficit/jsx.git"} },
		{restc, ".*", {git, "git://github.com/kivra/restclient.git", {tag, "0.1.0"}}},
		{cowboy, ".*", {git, "git://github.com/extend/cowboy.git", {branch, "1.0.x"} } }
		]}.
% vim: set filetype=erlang:
