---
title: Contribution Score
---

.welcome
  %h1 League of Legends Contribution Score
  %h2
    (see
    %a(href="https://github.com/sdeboer/advantageMetric")
      Advantage Metric on Github
    for info)

.partial(ng-view)

.footer
  .submission
    "Contribution Score" Created by Simon de Boer (summoner: pieslave) April 17th, 2015
  .terms
    %a(href="https://developer.riotgames.com/terms#statement")
      Riot Games API Challenge -- Terms and Conditions
